body,
html {
  height: 100%;
  margin: 0 auto;
}
#root {
  height: 100%;
}
.App{
  height: 100%;
  .App-header{
    height: 75%;
    .banner{
      background-color: pink;
      min-height: 100%; 
      background-image: url("../ressources/img/georgie-cobbs-459520-unsplash.jpg");
      //Photo by Georgie Cobbs on Unsplash
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      .bannerContent{
        margin-top: 0;
        margin-bottom: 1rem;
          .name{
            
          }
          .function{
            font-size: 20px;
            font-weight: 300;
          }
          .LinkedIn{
            height: 50px;
          }
          
      }

    }
  }
}


